---
http_interactions:
- request:
    method: get
    uri: http://www.rinxter.net/wftda/ds?output=obj&skaterId=35&type=skater
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":"35","name":"Suzy Hotrod","number":"55","abbr":"suzy_hotrod","image":"\/imgs\/skaters\/logo_suzy_hotrod.jpg","primaryLeague":"Gotham
        Girls Roller Derby","primaryLeagueAbbr":"GGRD","primaryLeagueId":1,"seasons":["2013","2012","2011","2010"]}]'
  recorded_at: Mon, 24 Mar 2014 01:51:37 GMT
recorded_with: VCR 2.8.0
