---
http_interactions:
- request:
    method: get
    uri: http://www.rinxter.net/wftda/ds?leagueId=1&output=obj&type=skaterList
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":"1100","name":"9Killameter","number":"40","nameS":"9Killameter
        (40)"},{"nameS":"Allifornication (310)","id":"328","name":"Allifornication","number":"310"},{"nameS":"Ames
        to Maim (410)","id":"1473","name":"Ames to Maim","number":"410"},{"nameS":"Ana
        Bollocks (00)","id":"36","name":"Ana Bollocks","number":"00"},{"nameS":"Ana
        Tazeya (40kV)","id":"4633","name":"Ana Tazeya","number":"40kV"},{"nameS":"Anais
        Ninja (101)","id":"54","name":"Anais Ninja","number":"101"},{"nameS":"Angela
        Slamsbury (186)","id[...]
- request:
    method: get
    uri: http://www.rinxter.net/wftda/ds?output=obj&skaterId=35&type=skater
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":"35","name":"Suzy Hotrod","number":"55","abbr":"suzy_hotrod","image":"\/imgs\/skaters\/logo_suzy_hotrod.jpg","primaryLeague":"Gotham
        Girls Roller Derby","primaryLeagueAbbr":"GGRD","primaryLeagueId":1,"seasons":["2013","2012","2011","2010"]}]'
  recorded_at: Mon, 24 Mar 2014 01:51:38 GMT
recorded_with: VCR 2.8.0
