---
http_interactions:
- request:
    method: get
    uri: http://www.rinxter.net/wftda/ds?output=obj&type=leagueList
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":"236","name":"Alamo City Roller Girls","abbr":"ALAMO","leagueAbbr":"ALAMO","url":"","location":"","region":"","joinDate":"2008-02-01"},{"joinDate":"2008-02-01","region":"Division
        2","id":"113","leagueAbbr":"ALAMOCITY","location":"","name":"Alamo City Rollergirls","abbr":"ALAMOCITY","url":""},{"joinDate":"2011-08-31","region":"","id":"38","leagueAbbr":"ALBANY","location":"Albany,
        NY","name":"Albany All-Stars Roller Derby","abbr":"ALBANY","url":"www.albanyallstars.com"},{"joinDate":"2008-01-01","region":"Division
        1","id":"48","leagueAbbr":"ANGELCITY","location":"Los Angeles, CA","name":"Angel[...]
