---
http_interactions:
- request:
    method: get
    uri: http://www.rinxter.net/wftda/ds?boutId=123&output=obj&type=bout
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":"123","venue":"AVIATOR FIELD","date":"2011-08-13","season":"2011","status":"C","state":"Completed","team1":"Wall
        Street Traitors","team1League":"Gotham Girls Roller Derby","team1LeagueId":"1","team1LeagueAbbr":"GOTHAM","team1league":"Gotham
        Girls Roller Derby","team1leagueId":"1","team1leagueAbbr":"GOTHAM","team1Id":"12","team1Score":"138","team1Rank":"","team1Captain":"","team1CoCaptain":"","team1MVP":"","team2League":"Suburbia
        Roller Derby","team2LeagueId":"4","team2LeagueAbbr":"SUBURBIA","team2league":"Suburbia
        Roller Derby","team2leagueId":"4","team2leagueAbbr":"SUBURBIA","team2":"Suburban
        Brawl","team2Id":"6","team2Score":"109","team2Rank":"","team2Captain":"","team2CoCaptain":"","team2MVP":"","sanction":"W","sanctionS":"Inter-League","location":"BROOKLYN","timeStart":"","timeEnd":"","ruleset":"2010"}]'
  recorded_at: Mon, 24 Mar 2014 01:51:37 GMT
recorded_with: VCR 2.8.0
